/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.container {
	width: 800px;
	margin: auto;
}

body {
	font-size: 14px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

nav a {
	color: #696969;
	padding: 25px;
	font-size: 12px;
	text-decoration: none;
}

 a:hover {
	color: steelblue;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75vh;
}

header .business {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.header-text h1 {
	font-size: 72px;
	text-align: center;
}

button {
	background: white;
	font-size: 16px;
	border: 1px solid black;
	padding: 8px 20px 8px 20px;
	width:175px;
	text-align: center;
}

button:hover {
	background: steelblue;
	color: lightgray;
}

.main {
	border-top: 1px solid black;
}

p {
	margin-bottom: 20px;
}

.container2{
	display: flex;
	justify-content: space-between;
}

.par1 {
	width: 49%;
	margin-top: 20px;
}

.par2 {
	width: 49%;
	margin-top: 20px;
}

.middle-img {
	display: inline-block;
	margin: 15px 0 30px 0;
	max-width: 800px;
	height: auto;
}

.main2 {
	border-bottom: 1px solid black;
}

.container3 {
	display: flex;
	justify-content: space-between;
}

.par3 {
	 width: 32.3%;
}

.par4 {
	width: 32.3%;
}

.par5 {
	width: 32.3%;
}

.div3 {
	margin-top: 20px;
}

 footer {
	 margin-top: 30px;
	 text-align: center;
 }

 /* Code for Great Idea - Services Page */

 .container2 {
	width: 800px;
	margin: auto;
 }

 .services-header-img {
	 max-width: 800px;
	 margin-top: 30px;
 }

 .header2 {
	 height: 20vh;
	 border-bottom: 1px solid black;
 }
  .button2 {
	  color: black;
	  border: 1px solid black;
	  border-radius: 3px;
	  padding: 3px 20px 3px 20px;
	  background-color: WhiteSmoke;
	  text-decoration: none;
  }

  .servBlocks {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin-top: 3%;
	  border-bottom: 2px solid black;
  }

  .serBlock {
	  width: 48%;
	  padding: 20px 20px 25px 20px;
	  border: 1px solid black;
	  background-color: rgb(229, 223, 223);
	  margin-bottom: 30px;
  }

  .serBlock p {
	  margin-bottom: 30px;
  }

 .bottom {
	 display: flex;
	 justify-content: space-between;
	 margin-top: 30px;
 }
  
 .facts {
	 display: flex;
	 flex-wrap: wrap;
	 width: 45%;
 }

 .facts p {
	margin-top: -75px;
 }

 ul {
	 list-style-type: square;
	 margin-left: 18px;
	 margin-top: -60px;
	 line-height: 1.5;
 }

 footer {
	 padding: 50px 0 40px 0;
 }

 /* Code for Product page */
 .product-img, .design-img {
	 width: 100%;
	 margin-top: 3%;
 }

 .products {
	 display: flex;
	 justify-content: space-between;
 }

 .products div {
	 width: 48%;
	 margin-top: 3%;
 }

 .moreProducts {
	 display: flex;
	 justify-content: space-between;
	 border-bottom: 1px solid black;
 }

 .moreProducts div {
	 width: 33%;
	 margin-top: 3%;
 }

 /* Index Media Query */
 @media (max-width: 500px) {
	 .container {
		 max-width: 450px;
		 margin: 0 auto;
	 }
	 nav {
		 flex-direction: column-reverse;
		 justify-content: center;
		 align-items: center;
	 }

	 nav a {
		 padding: 15px;
	 }

	 .logo {
		 margin-bottom: 6%;
	 }

	 header {
		 flex-direction: column;
		 justify-content: center;
		 align-items: center;
		 height: 60vh;
	 }

	 .circle {
		 display: none;
	 }

	 .container2 {
		 display: inline-block;
		 width: 450px;
		 margin: 0 auto;
	 }

	 .container2 div {
		 width: 100%;
	 }

	 .container .middle-img {
		 width: 100%;
	 }

	 .container3 {
		 display: inline-block;
	 }

	 .container3 div {
		 width: 100%;
	 }
	 /* Services Media Query */
	 .services-header-img {
		 width: 100%;
	 }

	 .header2 {
		 margin-top: 4%;
	 }

	 .servBlocks {
		 display: inline-block;
	 }

	 .serBlock {
		 width: 100%;
	 }

	 .bottom {
		 display: inline-block;
		 margin-top: 20px;
	 }

	 .facts {
		display: inline-block;
		width: 100%;
	}
   
	.facts p {
	   margin-top: 0px;
	}
   
	ul {
		list-style-type: square;
		margin-left: 18px;
		margin-top: 0px;
		line-height: 1.5;
	}

	.services-info-img {
		display: none;
	}
 }

 
